#Category3_MainSlide{

}
#Category3_MainSlide .slideGridSidebar{
  text-align: left;
}
#Category3_MainSlide .Category3SidebatTitle{
  margin-bottom: 1em;
}

.Category3SidebatText{
  margin: 1em 0;
}

.Category2Title{
  /*margin: 0;*/
}
