.Title {
  margin: 0 0 2em;
  display: flex;
  align-items: center;
}

.TitleCount {
  margin-right: 0.3em !important;
  font-size: 3em !important;
  line-height: 1 !important;
  font-weight: 700;
  color: #1a4c91;
}

.App .TitleTitle {
  width: 100%;
  margin: 0;
  padding: 0.5em 1em;
  border-radius: 25px 0 25px 0;
  background-color: #0082b3;
  color: #fff;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
}

.App .TitleVariant2{
  margin: 0 0 24px;
}
.App .TitleVariant2 .TitleTitle {
  padding: 0;
  background-color: transparent;
  color: #1a4c91;
}
.App .TitleVariant3{
  margin: 0 0 6px;
}
