.Title {
  margin: 0 0 2em;
  display: flex;
  align-items: flex-start;
}

.TitleCount {
  width: 60px;
  margin-right: 24px !important;
  font-size: 3em !important;
  line-height: 1 !important;
  font-weight: 700;
  color: #1a4c91;
}

.App .TitleTitle {
  width: 100%;
  margin: 0;
  padding: 0.5em 1em;
  border-radius: 25px 0 25px 0;
  background-color: #0082b3;
  color: #fff;
  font-weight: 500;
  line-height: 1.3;
  text-align: left;
}

.App .TitleVariant2{
  margin: 0 0 24px;
}
.App .TitleVariant2 .TitleTitle {
  padding: 0;
  background-color: transparent;
  color: #1a4c91;
}

.App .TitleVariant3{
  margin: 0 0 6px;
}

.App .TitleVariant4{
  margin: 0 0 1em;
  line-height: 1.2;
  font-weight: 600;
}
.App .TitleVariant4 .TitleTitle {
  padding: 0;
  background-color: transparent;
  color: #1a4c91;
  text-align: center;
}

.App .TitleVariant5{
  margin: 0 0 1em;
  padding: 0 0 0.2em;
  text-align: center;
}
.App .TitleVariant5 .TitleTitle {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #1a4c91;
  text-align: center;
  line-height: 1.2;
  font-weight: 600;
  font-size: 1.6em;
}

.App .TitleVariant6 .TitleTitle {
  font-size: 1.15em;
}
