.App {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2em 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left
}

.sectionTitle {
  margin: 0 0 1em;
  padding: 0 0 0.2em;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.sectionTitle h3 {
  margin: 0;
  line-height: 1.2;
  font-weight: 600;
}

.sectionTitle .title_count {
  margin-right: 8px !important;
  margin-top: -0.3% !important;
  font-size: 1.15em !important;
  line-height: 1 !important;
  color: #870E42;
}

.title {
  margin: 0 0 2em;
  display: flex;
  align-items: center;
}

.title_count {
  margin-right: 30px !important;
  font-size: 300% !important;
  line-height: 1 !important;
  font-weight: bold;
  color: #1a4c91;
}

.App .title_title {
  width: 100%;
  margin: 0;
  padding: 12px 25px;
  border-radius: 25px 0 25px 0;
  background-color: #0082b3;
  color: #fff !important;
  font-weight: 400;
  text-align: left;
}

.table-1 {
  font-size: 50% !important;
  background-color: #e6f1fc;
}

.table-1 th {
  text-align: center !important;
}

.table-1 th,
.table-1 td {
  border-width: 1px !important;
  border-style: solid !important;
  vertical-align: middle !important;
}

.table-1 tr td:nth-child(3) {
  white-space: nowrap;
}

.table-1 tr th:nth-child(3) {
  white-space: nowrap;
}

.table-1 tr td:nth-child(4) {
  white-space: nowrap;
}

.table-1_footer td {
  font-size: 1.3em !important;
  white-space: nowrap;
  font-weight: bold !important;
}

.table-1_footer_lite td {
  font-size: 1.2em !important;
  white-space: nowrap;
  font-weight: bold !important;
}

.table-1_footer td:nth-child(1),
.table-1_footer_lite td:nth-child(1) {
  text-align: right !important;
}

.color1 {
  color: #870E42;
}

.fp-slide {
  float: none !important;
  display: inline-block !important;
  vertical-align: middle;
}

.slideGrid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideGridSidebar {
  width: 35%;
  margin-right: 2em;
  text-align: center;
}

.slideGridSidebar .sectionTitle {
  margin: 0;
  border-bottom: none;
}

.slideGridSidebar_text {
  margin: 0.5em 0;
  font-size: 1.15em;
}

.slideGridSidebar_text_blue_bg {
  color: #fff;
  padding: 12px 25px;
  border-radius: 25px 0 25px 0;
  background-color: #0082b3;
}

.slideGridMap {
  width: 759px;
  height: 720px;
  position: relative;
}

.slideGridMap img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 !important;
  vertical-align: top;
}

.fp-controlArrow {
  width: 22px !important;
  height: 48px !important;
  border: none !important;
}

.fp-prev {
  background: url(../img/prev.svg) no-repeat 0 0;
}

.fp-controlArrow.fp-prev {
  left: 0 !important;
}

.fp-next {
  background: url(../img/next.svg) no-repeat 0 0;
}

.fp-controlArrow.fp-next {
  right: 0 !important;
}

.ant-popover-inner {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45) !important;
}

.tooltipPoint {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /*background-color: rgba(255, 0, 0, 0.67);*/
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}

.tooltipContent {
  position: relative;
  width: 420px;
  padding: 0 12px 0 0;
  font-size: 1.3em;
  color: #000000;
}

.tooltipContent p:nth-child(2) {
  margin-bottom: 0;
}

.tooltipClose {
  position: absolute;
  top: -6px;
  right: -8px;
}
