.App {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2em 0;
}

.slideGridCategoryAll {
  max-width: 1470px;
}

.categoryBody {
  padding-left: 84px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left
}

.color1 {
  color: #1a4c91;
}

.fp-slidesContainer {
  /*display: table !important;*/
}

.fp-slide {
  position: relative;
  /*display: inline-block !important;*/
  /*vertical-align: middle;*/
  /*background-color: rgba(0, 0, 0, .1);*/
  /*display: flex !important;*/
  /*position: relative;*/
  /*margin-top: 50% !important;*/
  /*transform: translateY(-50%) !important;*/
  /*display: table-cell !important;*/
  /*vertical-align: middle;*/
  /*float: none !important;*/
  /*display: inline-block !important;*/
  /*vertical-align: middle;*/
}

.slideGrid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideGridSidebar {
  width: 35%;
  margin-right: 2em;
  text-align: center;
}

.slideGridSidebar_text {
  margin: 0.5em 0;
  font-size: 1.15em;
}

.slideGridSidebar_text_blue_bg {
  color: #fff;
  padding: 12px 25px;
  border-radius: 25px 0 25px 0;
  background-color: #0082b3;
}

.slideGridSidebar_more{
  margin: 1em 0 0 0;
  text-align: center;
}

.slideGridSidebar_more a{
  line-height: 1;
  font-weight: 600;
  border-bottom: 3px solid;
}

.slideGridMap {
  width: 759px;
  height: 720px;
  position: relative;
}

.slideGridMap img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 !important;
  vertical-align: top;
}

.App .fp-controlArrow {
  top: auto;
  bottom: 24px;
  width: 52px !important;
  height: 52px !important;
  border: 2px solid #666 !important;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.8;
  color: #666;
  text-align: center;
  line-height: 52px;
}

.App .fp-controlArrow:hover,
.App .fp-controlArrow:hover {
  opacity: 1;
}

.fp-prev {
  background: url(../img/prev.svg) no-repeat center;
  background-size: 33%;
}

.App .fp-controlArrow.fp-prev {
  left: 50%;
  margin-left: -100px;
}

.fp-next {
  background: url(../img/next.svg) no-repeat center;
  background-size: 33%;
}

.App .fp-controlArrow.fp-next {
  right: 50%;
  margin-right: -100px;
}

.App .fp-controlArrow.fp-back {
  opacity: 0;
  right: 50%;
  margin-right: -26px;
}

.section.fp-section.active .fp-controlArrow.fp-back,
.slide.fp-slide.active .fp-controlArrow.fp-back{
  opacity: 0;
  animation: showBack 100ms linear both;
  animation-delay: 700ms;
}

@keyframes showBack {
  to {
    opacity: 0.8;
  }
}


.ant-popover-inner {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45) !important;
}

.tooltipPoint {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  color: #fff;
  /*background-color: rgba(255, 0, 0, 0.67);*/
  /*text-align: center;*/
  /*line-height: 20px;*/
}

.tooltipContent {
  position: relative;
  width: 420px;
  padding: 0 12px 0 0;
  font-size: 1.3em;
  color: #000000;
}

.tooltipContent p:nth-child(3) {
  margin-bottom: 0;
  text-align: right;
}

.tooltipClose {
  position: absolute;
  top: -6px;
  right: -8px;
}
