.App {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2em 0;
}

.slideGridCategoryAll{
  max-width: 1470px;
}

.categoryBody{
  padding-left: 84px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left
}

.color1 {
  color: #1a4c91;
}

.fp-slide {
  float: none !important;
  display: inline-block !important;
  vertical-align: middle;
}

.slideGrid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideGridSidebar {
  width: 35%;
  margin-right: 2em;
  text-align: center;
}

.slideGridSidebar_text {
  margin: 0.5em 0;
  font-size: 1.15em;
}

.slideGridSidebar_text_blue_bg {
  color: #fff;
  padding: 12px 25px;
  border-radius: 25px 0 25px 0;
  background-color: #0082b3;
}

.slideGridMap {
  width: 759px;
  height: 720px;
  position: relative;
}

.slideGridMap img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 !important;
  vertical-align: top;
}

.fp-controlArrow {
  width: 22px !important;
  height: 48px !important;
  border: none !important;
}

.fp-prev {
  background: url(../img/prev.svg) no-repeat 0 0;
}

.fp-controlArrow.fp-prev {
  left: 0 !important;
}

.fp-next {
  background: url(../img/next.svg) no-repeat 0 0;
}

.fp-controlArrow.fp-next {
  right: 0 !important;
}

.ant-popover-inner {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45) !important;
}

.tooltipPoint {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  /*background-color: rgba(255, 0, 0, 0.67);*/
  /*text-align: center;*/
  /*line-height: 20px;*/
}

.tooltipContent {
  position: relative;
  width: 420px;
  padding: 0 12px 0 0;
  font-size: 1.3em;
  color: #000000;
}

.tooltipContent p:nth-child(2) {
  margin-bottom: 0;
}

.tooltipClose {
  position: absolute;
  top: -6px;
  right: -8px;
}
