.Category4Subtitle {
  margin: 1.2em 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
}

.Category4Body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Category4BodyLeft {
  width: 50%;
  flex-grow: 1;
  flex-shrink: 2;
  padding: 1.5em;
  background-color: #1a4c91;
  color: #fff;
}

.Category4BodyLeftTitle {
  margin: 0 0 1em;
  font-size: 1.2em;
  font-weight: 500;
}

.Category4BodyRigth {
  position: relative;
  width: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 1.5em;
  border: 1px solid #1a4c91;
}

.Category4Table{
  font-size: 0.7em !important;
}

.slideGridMap_Category4_Slide1_1{
  height: auto !important;
  width: auto !important;
}


.Category4BodyRigth .slideGridSidebar_more{
  position: absolute;
  bottom: -3em;
  left: 0;
  right: 0;
}
