.Category7Title h4{
  font-size: 1em !important;
  line-height: 1.4 !important;
}

.slideGridCategory7{
  position: relative;
  height: 839px;
  width: 1350px;
  margin: 0 auto;
}
.slideGridCategory7Sidebar{
  position: absolute;
  left: 0;
  top: 70px;
  z-index: 3;
  width: 420px;
}
.slideGridCategory7Map{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
