.App .Table{
  width: 100%;
  font-size: 0.7em;
  background-color: #e6f1fc;
}

.App .Table2{
  font-size: 0.85em;
  font-weight: 500;
}

.App .Table3{
  font-size: 0.7em;
  font-weight: 500;
}

.App .Table .TableRowTitle td {
  background-color: #86a3cb !important;
  text-align: center;
}

.App .Table .TableRowTitle2 td {
  padding: 12px;
  background-color: #86a3cb !important;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
}

.App .Table .TableRowIsTitle2 td {
  padding: 12px;
  background-color: #86a3cb !important;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
}

.App .Table th,
.App .Table td {
  padding: 3px 12px;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  vertical-align: middle;
}

.App .Table th {
  padding: 12px;
  text-align: center;
  background-color: #1a4c91;
  color: #fff;
}

.App .Table td:nth-child(1) {
  text-align: center;
}

.App .Table tr:nth-child(2n) td {
  background-color: #cce2f9;
}


.App .Table .TableItog td{
  padding: 6px 12px;
  font-size: 1.3em !important;
  white-space: nowrap;
  font-weight: bold !important;
  background-color: #830f0f !important;
  color: #fff;
}

.App .Table .TableItog td:nth-child(2) {
  text-align: right;
}

.App .Table .TableItogProject td{
  padding: 6px 12px;
  font-size: 1.1em !important;
  white-space: nowrap;
  font-weight: bold !important;
  background-color: #830f0f !important;
  color: #fff;
}

.App .Table .TableItogProject td:nth-child(2) {
  text-align: right;
}
