.Category2Title {
  /*margin: 0;*/
}

.slideGrid_Category3_Slide1_6 {
  align-items: flex-start;
}

.slideGrid_Category3_Slide1_6 .slideGridSidebar {
  font-size: 0.7em;
  width: 50%;
  text-align: left;
}

.slideGrid_Category3_Slide1_6 .slideGridMap {
  width: 50%;
}

.slideCategory3_Slide1_8 {
  font-size: 0.6em;
  text-align: left;
}

.slideCategory3_Slide1_8IMG {
  text-align: center;
}

.goAeroport {
  display: flex !important;
  width: 320px;
  margin: 24px 0 0 0;
  align-items: center;

  padding: 0.5em 1em;
  border-radius: 25px 0 25px 0;
  background-color: #0082b3;
  color: #fff !important;
  font-weight: 500;
  font-size: 0.8em;
  line-height: 1.3;
  text-align: left;
}

.goAeroportText {
  display: block;
  margin-left: 15px;
  padding-top: 5px;
}

.Category2_MainSlide{
  min-width: 759px;
}
